<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Blog</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    
</head>
<body>
    <header>
        <h1>My Blog</h1>
        
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('login') }}">Login</a></li>
                <li><a href="{{ url_for('register') }}">Register</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="slideshow-container">
            {% for post in posts %}

            <h2><a href="{{ url_for('view_post', post_id=post._id) }}">{{ post.title }}</a></h2>
            <div class="mySlides">
                <h2><a href="{{ url_for('view_post', post_id=post._id) }}">{{ post.title }}</a></h2>
                <p>{{ post.content }}</p>
                <p><em>Posted by {{ post.author }} on {{ post.formatted_timestamp }}</em></p>
            </div>
            {% endfor %}
    
            <!-- Slideshow navigation buttons -->
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 My Blog</p>
    </footer>

    
    <script>
        var slideIndex = 1;
        showSlides(slideIndex);
    
        function plusSlides(n) {
            showSlides(slideIndex += n);
        }
    
        function showSlides(n) {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            if (slides.length == 0) {
                return; // No slides found, exit function
            }
            if (n > slides.length) { slideIndex = 1 }
            if (n < 1) { slideIndex = slides.length }
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            slides[slideIndex - 1].style.display = "block";
        }
    </script>

</body>
</html>
